
<% @posts.each do |post| %>
    <div class="post-container">
        <h2><%= post.title %></h2>
        <div><%= truncate(post.body, :length => 35) %></div>
        <br>
        <%= link_to "Read Post", post %>
    </div>
<% end %>

